body {
    background-color: black;
}

div {
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    margin-left: 100px;
}

#menuBG {
    
    width: 600px;
    height: 500px;
    margin: 10px auto;
}

#frmMenu {
    width: 600px;
    height: 200px;
}

#totalPrice {
    width: 400px;
    height: 190px;
    margin: 0 auto;
    float: right;
}

.column {
    float: left;
    width: 33.33%;
    
}

#showText {
    width: 200px;
    height: 190px;
    margin: 0px auto;
    float: left;
}

#cart {
    float: left;
    width: 100%;
    
}

#btnOrder {
    width: 100px;
    height: 40px;
    float: right;
}