/* Centers the heading and game board */
.center-container {
    width: 608px;
    margin: 0 auto;
    margin-top: 50px;
}

h1 {
    text-align: center;
    color: white;
}

table {
    border-collapse: collapse;
    border-style: hidden;
}

/* Draws lines for tic tac toe */
td {
    cursor: pointer;
    border: 4px solid white;
    padding: 0px;
    width: 200px;
    height: 200px;
}

canvas {
    position: absolute;
    z-index: 10;
    pointer-events: none;
}